6.5 POO paso por valor/build/classes/Clases/Persona.class
6.5 POO paso por valor/build.xml
6.5 POO paso por valor/build/classes/.netbeans_automatic_build
6.5 POO paso por valor/build/classes/PasoPorValor/PasoPorValor.class
6.5 POO paso por valor/manifest.mf
6.5 POO paso por valor/nbproject/build-impl.xml
6.5 POO paso por valor/nbproject/genfiles.properties
6.5 POO paso por valor/nbproject/private/private.properties
6.5 POO paso por valor/nbproject/private/private.xml
6.5 POO paso por valor/nbproject/project.properties
6.5 POO paso por valor/nbproject/project.xml
